/*** TAG SELECTORS ***/
body {
  font-size: 1.2em;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Pacifico', cursive;
  margin-top: 5%;
}

h4 {
  font-family: 'Abril Fatface', cursive;
  margin-top: 10%;
  background-color: #E6DDC4;
}

h6 {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 5%;
  margin-top: 10%;
}

p {
  line-height: 2;
  margin-top: 25px;
}

a {
  color: #E6DDC4;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 10px;
  text-decoration: none;
}

a:hover {
  color: black;
}

span {
  text-decoration: underline;
}

hr {
  margin: 10% 0;
}

/*** CLASS SELECTORS ***/
.top-container {
  background-color: #F9CF93;
}

.middle-container {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.bottom-container {
  background-color: #F0A500;
  padding: 50px 0 20px;
}

.about {
  margin: 20px 0;
}

.pro {
  text-decoration: underline;
}

.hello {
  margin-top: 45%;
  margin-left: 35%;
}

.elad {
  margin-left: 35%;
}

.a-programmer {
  padding-left: 35%;
}

.right-arrow {
  width: 80%;
  margin-top: 20%;
  margin-right: 15%;
  float: right;
}

.computer {
  width: 300px;
  margin-top: 20%;
  margin-right: 40%;
  float: right;
}

.info {
  border-radius: 100%;
  width: 20%;
  float: right;
  margin-left: 50px;
}

.ux {
  width: 20%;
  float: right;
  margin-left: 50px;
}

.coding {
  width: 20%;
  float: right;
  margin-left: 50px;
  margin-top: 20px;
}

.sports {
  width: 20%;
  float: right;
  margin-left: 50px;
}

.contact-me {
  padding: 5%;
  background-color: #F9CF93;
}

.hope {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.btn {
  background: #111112;
  background-image: -webkit-linear-gradient(top, #111112, #01080d);
  background-image: -moz-linear-gradient(top, #111112, #01080d);
  background-image: -ms-linear-gradient(top, #111112, #01080d);
  background-image: -o-linear-gradient(top, #111112, #01080d);
  background-image: linear-gradient(to bottom, #111112, #01080d);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #F9CF93;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f0f5f4;
  background-image: -webkit-linear-gradient(top, #f0f5f4, #dedede);
  background-image: -moz-linear-gradient(top, #f0f5f4, #dedede);
  background-image: -ms-linear-gradient(top, #f0f5f4, #dedede);
  background-image: -o-linear-gradient(top, #f0f5f4, #dedede);
  background-image: linear-gradient(to bottom, #f0f5f4, #dedede);
  text-decoration: none;
}

.mydetails {
  width: 40%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.part1 {
  padding: 10px;
}

.communicate {
  width: 24%;
  float: left;
}

.part2 {
  text-align: center;
  line-height: 2;
}

.contactme {
  text-decoration: overline;
  font-family: 'Abril Fatface', cursive;
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 10%;
  margin-left: 25%

}

.list {
  margin-left: 25%
}

.form {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #F0A500;
  padding: 0;
}

.navbar-brand {
  background-color: #F0A500;
  padding: 0;
}

.airport {
  padding-top: 9%;
}

@media (max-width: 1028px) {
  .right-arrow {
    margin-top: 35%;
    margin-right: 15%;
  }

  .computer {
    width: 250px;
    margin-top: 30%;
  }
}

@media (max-width: 768px) {
  .top-conatinar {
    text-align: center;
  }

  .hello {
    margin-top: 15%;
    margin-left: 0%;
  }

  .elad {
    margin-left: 0%;
  }

  .a-programmer {
    padding-left: 0%;
  }

  .right-arrow {
    width: 40%;
    margin-right: 0%;
    margin-top: 0%;
    float: none;
  }

  .computer {
    width: 200px;
    margin: 0% 0% 5% 0%;;
    float: none;
  }
}

.my-projects {
  text-decoration: overline;
}

.carousel-p {
  padding: 0% 20%;
}

.academy {
  padding: 0% 30%;
}

#projects-details {
  margin: 0% 30%;
}
